<!DOCTYPE html>
<html class="no-js" lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="{{ .Title }}">
    <meta name="author" content="{{ .Site.Params.author }}">

    <meta name="keyword" content="">
    <link rel="shortcut icon" href="/img/favicon.ico">

    <title>{{ if eq .Url "/" }}{{ .Site.Title }}{{ else if eq .Url "/post/" }}All Entries &middot; {{ .Site.Title }}{{ else if in .Url "/tags/" }}Tags | {{ .Site.Title }}{{ else }}{{ .Title }}{{ end }}</title>

 	<!-- default bootstrap css -->
	<link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/journal.css">

 	<!-- custom css -->
 	<link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/style.css">

    <link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/font-awesome.min.css">
    
    <!-- javascript -->
    <script src="{{ .Site.BaseUrl }}/js/jquery.min-2.1.4.js"></script>
    <script src="{{ .Site.BaseUrl }}/js/bootstrap.min-3.3.4.js"></script>

    <!-- rss -->
    <link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
</head>
<body lang="en">
    <!-- navbar -->
    {{ partial "navbar" . }}